*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}


.nav-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 8%;
    
}

.nav-parent div ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.common-btn{
    padding: 12px 25px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    
}

.nav-parent div ul a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
}
/* navbar end  */


/* banner section end  */
header{
    background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0)),url("./assets/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-section{
   
    text-align: center;
    

    
}
header div h1{
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    margin-top: 130px;
}

header div p{
    color: rgba(256, 256, 256, 0.8);
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
}


.banner-section button{
        margin-top: 250px;
        font-size: 22px;
        padding: 18px 45px;
        border-radius: 12px;
}

/* speaker section */
section{
    margin:  auto 8%;
    padding: 50px 0px;
}
.spekers-h2{
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 55px;
    margin: 60px auto;
}

.spekers-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    
}

.spekers-container img{
    width: 100%;
    /* height: 250px; */

}
.meet-card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.meet-card{
    border: 1px solid #e4e4e4;
    border-radius:16px;
}

.meet-card-content{
    
    padding: 30px;
}

.meet-card-content .p1-tag{
    color: #2563EB;
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: 700;
}
.meet-card-content h3{
    font-size: 20px;
    font-weight: bold;
}

.p2-tag{
    color: #575757;
    font-size: 14px;
    margin-top: 12px;
}


/* secure part */
.secure-card{
    border: 1px solid #e4e4e4;
    padding: 32px;
    border-radius: 20px;
   
   
}
.secure-common-btn{
    padding: 15px 120px;
    font-size: 15px;
    font-weight: 700;
    border: 2px  solid #2563EB;;
    border-radius: 10px;
    color: #1D4ED8;
    /* margin-left: 20px; */
    background-color: #fff;
    
}
.secure-common-btn2{
    background-color: #2563EB;
    padding: 15px 130px;
    /* margin-left: 42px; */
    border: none;
   
    border-radius: 10px;
    color: #fff;
}
.secure-h2{
    margin-top: 0px;
    font-size: 48px;
    text-align: center;
    font-weight: 800;
}
.ptag{
    text-align: center;
    margin: 20px  auto;
    color: #575757;
}

/* .price-card{
    width: 1100px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
    
} */
.price-card{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.pro-card{
    background-color: #0D1B2A;
    color: #fff;
    font-weight: 300;
}
.secure-card ul li::marker{
    color: #60A5FA;
}
.secure-card-p1{
    color: #888;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 500;
}

.secure-card-p1-pro{
    font-size: 13px;
    color: #93C5FD;
    margin-bottom: 10px;
    font-weight: 500;
}
.secure-card span{
    font-weight: 700;
    font-size: 44px;
    padding-bottom: 10px;
    
}

.secure-card-p2{
    font-size: 13px;
    color: #888;
    margin-top: 10px;
    margin-bottom: 25px;
}

.secure-card hr{
    border: 1px solid #e0e0e0;
    
    
    
}
.pro-card hr{
    border: 1px solid #4a2121;
    
}
.secure-card ul{
    display: grid;
    color: #333;
    font-size: 14px;
    margin: 15px 0px;
    gap: 10px;
    padding: 0px 15px;
}
 .pro-card ul{
    color: #fddede;
    
}
